/* BLOCKS */
@import "__mix";
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
td {
    vertical-align: top;

    &.chevron {
        background-color: $light2;
        padding: 5px 9px;
    }
    &.blocks {
        background-color: $light2;
        padding: 5px 9px;
    }
    &.blocks p {
        max-width: 95%;
    }
    &.ribron {
        background-color: $light1;
        padding: 0px;
    }
}
.blocks {
    background-color: #fff;

    h3 {
        color: $gold;
        background: {
            image: url(../images/misc/ribron.png);
            repeat: no-repeat;
            position: 100% 50%;
        }
        display: inline-block;
        line-height: 22px;
        margin: 0;
        padding: 4px 20px 1px 10px;
        text-transform: uppercase;
        white-space: nowrap;
    }
    hr {
        border: 0;
        border-bottom: 1px solid #ccc;
        height: 0px;
        margin: 12px 0 11px 0;
    }
    a.learn {
        float: right;
        font-size: 9px;
        font-family: Verdana, Geneva, sans-serif;
        margin: 5px 9px;
    }
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
