/* ETC */
@import "__mix";
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.shrink {
    font-size: 90%;
    line-height: 130%;
}
.hide {
    display: none;
}
.givingLogo img {
    margin: 12px 22px;
}
.push, .navb a {
    text-shadow: 0px .5px 1px #111;
}
.pull, .blocks {
    text-shadow: 0px .5px 1px #eee;
}
.headshot {
    float: left;
    height: 80px; width: 60px;
    margin-right: 10px;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#sharebar {
    float: right;

    .cap {
        margin-right: 6px;
        vertical-align: top;
    }
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.pushbutton {
    border: 0;
    margin: 0;

    &:hover {
        border: 1px solid #ffc;
        margin: -1px;
    }
}
.external {
    margin-top: 2px;
    margin-left: -2px;
    margin-right: -2px;
    margin-bottom: -2px;
}
:target {
    background-color: $hilite;
    @include transition( all 0.5s ease-out 0 );
}
.fade:target {
    background-color: white;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
