/* BLOCKS */
@import "__mix";
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#Feature table {
    td {
        vertical-align: top;
        &.blocks > p, &.blocks > ul {
            font-size: 95%;
            line-height: 130%;
        }
        &.chevron {
            background-color: $light2;
            padding: 5px 9px;
        }
        &.blocks {
            background-color: $light2;
            padding: 8px;
        }
        &.blocks p {
            max-width: 95%;
        }
    }
    .blocks {
        background-color: #fff;

        h3 {
            background-color: $light1;
            margin: -8px -8px 12px;
            padding: 0;
            line-height: 22px;

            span {
                background-image: url(../images/misc/ribron.png);
                background-repeat: no-repeat;
                background-position: 100% 50%;
                color: $prime2;
                display: inline-block;
                line-height: 22px;
                margin: 0;
                padding: 4px 20px 1px 10px;
                text-transform: uppercase;
                white-space: nowrap;
            }
        }
        a.learn {
            @include sans;

            float: right;
            font-size: 9px;
            margin: 5px 9px;
        }
    }
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
