/* HEAD */
@import "__mix";
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
header {
    height: 90px;
    padding: 28px;
    margin-bottom: 1px;

    .mast {
        height: 80px;
    }
    .navb { /* baseline */
        @include navgray();
        color: gray;
        font-family: Verdana, Geneva, sans-serif;
        font-size: 13px;
        height: 24px;
        margin-top: 13px;
        overflow: hidden;
    }
    .navb a {
        color: #eee;
        border-right: 1px solid #aaa;
        display: block;
        float: left;
        height: 21px;
        margin: 0;
        padding: 3px 12px;
        text-decoration: none;
    }
    .navb a:hover {
        @include navred();
        border-left: 1px solid white;
        border-right: 1px solid white;
        opacity: 0.7;
        margin-left: -1px;
    }
    .navb a.active {
        @include navred();
        background-color: $prime1;
    }
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* BANNER */
#Banner {
    display: none;
    position: relative;
    height: 295px;
}
img.reins-small {
    float: left;
    margin: 1px 0 5px 0;
    margin: -63px -10% 3px;
    height: 90px;
    left: 0;
    position: absolute;
    width: 120%;
    top: 245px;
    z-index: 9;
}
div.blot-small {
    background-color: white;
    bottom: 50px;
    height: 40px;
    right: 0;
    width: 55%;
    z-index: 3;
    position: absolute;
}
img.reins-large {
    @extend img.reins-small;
    margin: -99px -20% 11px;
    height: 150px;
    width: 140%;
}
div.blot-large {
    @extend div.blot-small;
    height: 60px;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
