/* LAYOUT */
@import "__mix";
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
html {
    body {
        h2, h3 {
            color: $prime1;
        }
        p, li {
            font-family: Verdana, Geneva, sans-serif;
            margin-bottom: 11px;
            text-indent: 1px;
        }
        ul {
            font-size: 100%;
            list-style-type: square;
            margin-top: 9px;
            padding-left: 22px;
        }
    }
}
/* SEGMENTS */
#Page {
    background-color: #fff;
    border: 1px solid #f8f8f8;
    margin: 0 auto;
    position: relative;
    width: 956px;
}
#feature {
    margin-left: 28px;
    overflow: visible;
    position: relative;
    width: 898px;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
