/* MINI LAYOUT */
@import "__mix";
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#Mobile {
    background-image: url("../images/mobile/bezel.png");
    position: relative;
    width: 600px; height: 700px;

    &:hover {
        z-index: 1;
    }

    .port {
        background-color: #fcfcff;
        border: 1px solid $red;
        left: 121px; top: 94px;
        overflow: hidden;
        overflow-y: auto;
        padding: 4px;
        position: relative;
        width: 322px; height: 482px;
        z-index: -1;

        header {
            border-bottom: 1px solid #bbb;
            box-shadow: 0 0 3px black;
            margin: -4px -4px 4px;

            .logobar {
                @include bargrad();
                @include nosel();

                background-color: $bar1;
                box-shadow: 0 0 3px black;
                color: #fc0;
                font-size: 32px;
                font-weight: bold;
                text-align: center;
                z-index: 111;

                img {
                    padding: 6px;
                    width: 50%;
                }
            }
            h1 {
                color: black;
                display: block;
                font-family: Myriad;
                font-size: 17px;
                font-weight: 600;
                line-height: 130%;
                padding: 9px 6px 3px;
            }
        }
        .banner {
            width: 100%;
        }
        .reins {
            width: 120%;
            margin: 10px -10% -10px;

        }
        footer {
            padding: 4px;
            font-size: 9px;

        }
    }
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
