/* MINI BUTTONS */
@import "__mix";
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#Mobile {
    .button {
        cursor: pointer;
    }
    button {
        color: #fff;
            vertical-align: baseline;

        &.hover, &:hover {
            opacity: 0.9;
        }
        span {
            font-weight: normal;
        }
    }
    .base {
        @include grayGrad();

        border-radius: 0.275rem;
        font-size: $MD;
        padding: 2px 4px;
        text-decoration: none;

        a {
            color: white;
        }
    }
    .blue {
        @extend .base;
        @include blueGrad();

        border-color: $blue1;
    }
    .share {
        @extend .button;
        float: right;
        width: 55px;
    }
    .home {
        @extend .button;
        width: 55px;
    }
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
