/* MINI NAV */
@import "__mix";
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#Mobile {
    nav {
        border-top: 2px solid white;
        border-bottom: 1px solid white;
        clear: both;
        font: {
            size: 166%;
            family: Archer, Georgia, serif;
            weight: 500;
        }
        line-height: 1;
        @include whiteShadow;

        a {
            @include lightGrad();
            color: $red;
            display: inline-block;
            margin: 3px 1px;
            padding: 0.25em;
            position: relative;
            text-decoration: none;
            width: 100%;

            &.active {
                color: white;
            }
            &.hover, &:hover {
                @include grayGrad();
                @include thinShadow;
                color: white;
            }

            // CHEVRON
            &:after {
                content: ' › ';
                font: {
                    size: 200%;
                    family: Arial, sans-serif;
                    weight: 900;
                }
                line-height: 0.2em;
                font-weight: bold;
                position: absolute;
                right: $hem;
                top: 0.666rem;
            }
        }
    }
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
