/* MINI LAYOUT */
@import "__mix";
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
$bzW: 600px; $dpW: 322px;
$bzH: 800px; $dpH: 482px;

$bzL: ($bzW - $dpW) / 2;
$bzT: ($bzH - $dpH) / 2;

$pt1: 99px;
$pt3: 66px;

#Feature {
    .mini {
        background-color: yellow !important;
    }
}
.bezel {
    background-image: url("../images/mobile/bezel.png");
    margin: auto;
    padding: $bzT $bzL;
    position: relative;
    width: $bzW; height: $bzH;

    &:hover {
        z-index: 1;
    }
}
#Mobile {
    @include bodyGrad();
    background-attachment: fixed;

    border: 1px solid green;
    //overflow: hidden;
    position: relative;
    width: $dpW; height: $dpH;
    z-index: -1;

    header {
        border: 1px solid yellow;
        border-bottom: 1px solid #bbb;
        box-shadow: 0 0 3px black;
        overflow: hidden;

        .logobar {
            @include bargrad();
            @include nosel();

            background-color: $bar1;
            box-shadow: 0 0 3px black;
            color: #fc0;
            font-size: 32px;
            font-weight: bold;
            text-align: center;
            z-index: 1;

            img {
                padding: 6px;
                width: 50%;
            }
        }
        h1 {
            @include sans;

            color: black;
            display: block;
            font-size: 17px;
            font-weight: 600;
            line-height: 130%;
            padding: 9px 6px 3px;
        }
    }
    section.port {
        // SEE _MINI_PORT.SCSS
    }
    footer {
        background-color: white;
        border: 1px solid yellow;
        bottom: 0;
        font-size: 9px;
        overflow: hidden;
        padding: $minim;
        position: absolute;
        p {
            margin: 0;
        }
        .reins {
            width: 120%;
            margin: 10px -10% (-$minim);
        }
    }
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
