/* MINI PORTS */
@import "__mix";
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#Mobile {
    section.port {
        border: 1px solid red;
        margin: -1px;
        position: absolute;
        z-index: -1;

        article {
            padding: $minim;
            overflow-x: hidden;
            overflow-y: scroll;

            &:first-child {
                overflow-y: hidden;
            }
        }

        h3 {
            font-weight: 600;
        }
        .banner {
            width: 100%;
        }
    }
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
