/* MINI PORTS */
@import "__mix";
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#Mobile {
    display: none;

    > article {
        overflow: auto;
    }

    section.port {
        box-shadow: inset 0 0 8px gray;
        margin: -1px;
        overflow: hidden;
        position: absolute;
        z-index: -1;

        article {
            padding: $minim;
            padding-bottom: 33px;
            overflow-x: hidden;
            overflow-y: scroll;

            &:first-child {
                overflow-y: hidden;
            }
        }
        a.learn {
            @include sans;

            float: right;
            font-size: 12px;
            margin: 5px 9px;
        }
        .external {
            margin-left: 2px;
        }
        img {
            max-width: 100%;
        }
        h2 {
            font-weight: 600;
        }
        .shrink {
            font-size: 90%;
        }
        .elim {
            display: none;
        }
    }
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
