/* POPUP */
@import "__mix";
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
div.popup {
    color: white;
    cursor: pointer;
    display: none;
    padding: 5% 0 5% 0;
    text-align: center;

    & > div,
    & > img {
        border: 1em solid black;
        border-radius: 1em;
        margin: auto;
        max-height: 90%;
        max-width: 90%;
    }
    &.big {
        background-color: rgba(0, 0, 0, 0.666);
        display: block;
        height: 100%;
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;
        /*	background-color: rgba(0,0,0,.5);*/
        z-index: 999;

        img {
            box-shadow: 0 11px 66px black;
            cursor: default;
        }
    }
}
a.popup {
    cursor: move;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
